{{!-- <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">21st cloud</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tabindex="-1" href="/aboutus" aria-disabled="true">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/contactus" tabindex="-1" aria-disabled="true">Contact Us</a>
        </li>
         <li class="nav-item">
          <a class="nav-link " href="/services" tabindex="-1" aria-disabled="true">Services</a>
        </li>
      </ul>
    </div>
  </div>
</nav> --}}
<div class="navbar-fixed">
      <nav class="blue lighten-3">
        <div class="container-fluid">
        <div class="container">
          <div class="nav-wrapper">
            <img
              src="/images/c.png"
              alt="21stcloud"
              height="50rem"
              width="100rem"
            />

            <a href="#" data-target="mobile-demo" class="sidenav-trigger"
              ><i class="material-icons">menu</i></a
            >
            <ul class="right hide-on-med-and-down" >
              <li>
                <a style="text-decoration: none; color:black; font-weight:bolder" href="/">Home</a>
              </li>
              <li>
                <a style="text-decoration: none; color:black ;font-weight:bolder" href="/aboutus">About us</a>
              </li>
              <li>
                <a style="text-decoration: none; color:black; font-weight:bolder" href="/contactus">Contact us</a>
              </li>
              <li>
                <a style="text-decoration: none; color:black;font-weight:bolder" href="/services">Services</a>
              </li>
              
            </ul>
          </div>
        </div>
        </div>
      </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
    <li>
                <a style="text-decoration: none;" href="/">Home</a>
              </li>
              <li>
                <a style="text-decoration: none;" href="/aboutus">aboutus</a>
              </li>
              <li>
                <a style="text-decoration: none;" href="/contactus">contactus</a>
              </li>
              <li>
                <a style="text-decoration: none;" href="/services">Services</a>
              </li>
    </ul>