
  <style>
    b{
      color: black;
    }
    .card-panel{
      transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    }
    
  </style>
  <!-- header -->
    <div class="container-fluid">
        <div class="p-4 p-md-5 mb-4 text-white rounded blue lighten-3">
            <div class="col-md-6 px-0 ">
              <h1 class="display-4 font-italic text-dark ">Who we are ?</h1>
              <p class="lead my-3">21st Cloud is a team of highly experienced professionals. It’s a partner owned company,
                 where <b>each partner has 15+ years of experience in Amazon Web Service or Microsoft Azure or Google Cloud</b>. 
                 We are one of the best experts in the fields of <b>Cloud Migration, Cloud Management, Cloud optimization and most 
                   importantly Cloud Security</b>. All 21st Cloud partners are based in the Seattle WA. We are NOT one of the inexpensive 
                   services out there. In fact, in a short-term we might be one of the most expensive service among competition.<b>However,
                      we can assure that in a long run, we are one of the most cost-effective service.</b></p>
               
            </div>
          </div>
          
          <div class="container mt-5 mb-5 mx-auto">
    <img src="/images/about.svg" class="img-fluid d-block mx-auto" alt="Aboutus" height="300px">
</div>
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">How do we work:</h2>
    </div>
    </div>
    
          <section class="section section-icons grey lighten-4 center">
      <div class="container" >
        <div class="row">
          <div class="col s12 m4">
            <div class="card-panel" style="height: 95%;">
              <i class="material-icons large blue-text ">room</i>
              <h4>Customer Obsession</h4>
              <p>Leaders start with the customer and work backwards. They work vigorously to earn and keep customer trust. Although leaders pay attention to competitors, they obsess over customers.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel" style="height: 95%;">
              <i class="material-icons large blue-text">store</i>
              <h4>Ownership</h4>
              <p>Leaders are owners. They think long term and don’t sacrifice long-term value for short-term results. They act on behalf of the entire company, beyond just their own team. They never say “that’s not my job.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel" style="height: 95%;">
              <i class="material-icons large blue-text">airplanemode_active</i>
              <h4>Invent and Simplify</h4>
              <p>Leaders expect and require innovation and invention from their teams and always find ways to simplify. They are externally aware, look for new ideas from everywhere, and are not limited by “not invented here." As we do new things, we accept that we may be misunderstood for long periods of time.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
          <section class="section section-icons grey lighten-4 center">
      <div class="container">
        <div class="row">
          <div class="col s12 m4">
            <div class="card-panel" style="height: 95%;">
              <i class="material-icons large blue-text">article</i>
              <h4>Are Right, A Lot</h4>
              <p>Leaders are right a lot. They have strong judgment and good instincts. They seek diverse perspectives and work to disconfirm their beliefs</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel" style="height: 95%;">
              <i class="material-icons large blue-text">task_alt</i>
              <h4>Learn and Be Curious</h4>
              <p>Leaders are never done learning and always seek to improve themselves. They are curious about new possibilities and act to explore them.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel" style="height: 95%;">
              <i class="material-icons large blue-text">verified_user</i>
              <h4>Hire and Develop the Best</h4>
              <p>Leaders raise the performance bar with every hire and promotion. They recognize exceptional talent, and willingly move them throughout the organization. Leaders develop leaders and take seriously their role in coaching others. We work on behalf of our people to invent mechanisms for development like Career Choice.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
          <section class="section section-icons grey lighten-4 center">
      <div class="container">
        <div class="row">
          <div class="col s12 m4">
            <div class="card-panel">
              <i class="material-icons large blue-text">offline_bolt</i>
              <h4>Insist on the Highest Standards</h4>
              <p>Leaders have relentlessly high standards — many people may think these standards are unreasonably high. Leaders are continually raising the bar and drive their teams to deliver high quality products, services, and processes. Leaders ensure that defects do not get sent down the line and that problems are fixed so they stay fixed.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel" style="height: 95%;">
              <i class="material-icons large blue-text">trending_up</i>
              <h4>Think Big</h4>
              <p>Thinking small is a self-fulfilling prophecy. Leaders create and communicate a bold direction that inspires results. They think differently and look around corners for ways to serve customers.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel" style="height: 95%;">
              <i class="material-icons large blue-text">perm_identity</i>
              <h4>Bias for Action</h4>
              <p>Speed matters in business. Many decisions and actions are reversible and do not need extensive study. We value calculated risk taking.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
          <section class="section section-icons grey lighten-4 center">
      <div class="container">
        <div class="row">
          <div class="col s12 m4">
            <div class="card-panel" style="height: 95%;">
              <i class="material-icons large blue-text">open_in_full</i>
              <h4>Frugality</h4>
              <p>Accomplish more with less. Constraints breed resourcefulness, self-sufficiency, and invention. There are no extra points for growing headcount, budget size, or fixed expense</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel" style="height: 95%;">
              <i class="material-icons large blue-text">verified</i>
              <h4>Earn Trust</h4>
              <p>Leaders listen attentively, speak candidly, and treat others respectfully. They are vocally self-critical, even when doing so is awkward or embarrassing. Leaders do not believe their or their team’s body odor smells of perfume. They benchmark themselves and their teams against the best.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel" style="height: 95%;">
              <i class="material-icons large blue-text">login</i>
              <h4>Dive Deep</h4>
              <p>Leaders operate at all levels, stay connected to the details, audit frequently, and are skeptical when metrics and anecdote differ. No task is beneath them.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
          <section class="section section-icons grey lighten-4 center">
      <div class="container">
        <div class="row">
          <div class="col s12 m4">
            <div class="card-panel" style="height: 93%;">
              <i class="material-icons large blue-text">arrow_right_alt</i>
              <h4>Have Backbone; Disagree and Commit</h4>
              <p>Leaders are obligated to respectfully challenge decisions when they disagree, even when doing so is uncomfortable or exhausting. Leaders have conviction and are tenacious. They do not compromise for the sake of social cohesion. Once a decision is determined, they commit wholly.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel" style="height: 93%;">
              <i class="material-icons large blue-text">done_all</i>
              <h4>Deliver Results</h4>
              <p>Leaders focus on the key inputs for their business and deliver them with the right quality and in a timely fashion. Despite setbacks, they rise to the occasion and never settle.</p>
            </div>
          </div>
          {{!-- <div class="col s12 m4">
            <div class="card-panel">
              <i class="material-icons large blue-text">airplanemode_active</i>
              <h4>Bias for Action</h4>
              <p>Leaders expect and require innovation and invention from their teams and always find ways to simplify. They are externally aware, look for new ideas from everywhere, and are not limited by “not invented here." As we do new things, we accept that we may be misunderstood for long periods of time.</p>
            </div>
          </div>
        </div> --}}
      </div>
    </section>
     </div>