<div class="container">
  <h1 class="display-6 mt-5"><b>Connect with us</b></h1>
  <p class="lead text-center mt-5">
    Our philosophy to business is to <u>take a few customers and serve them
    well</u>. We don’t discuss our existing customers and their business with ournew customers.
    Most of our new customers come via referral.
  </p>
   
  <p class="lead text-center mt-5">
    <b>There are 3 ways to initiate partnership with us:</b>
  </p>
  {{!-- <div class="container mt-5 mb-5">
    <div class="bg-light p-5 rounded">
      <h1>First Method: Referral</h1>
      <p class="lead">Get referred by one of our existing customers. No cost to
        you.If you have any referral please mail us at <b>xxx@21stcloud.com</b>.
        Our team will contact you <u>within two business days</u></p>
    </div>
  </div> --}}
  <ul class="collection">
      <li class="collection-item">1) Get referred by one of our existing customers. No cost to you.</li>
      <li class="collection-item">2) Set up a partnership initiation call with our team- please pick a good time to reach out to you with 2 hours of discussion. Total cost $2950.00</li>
      <li class="collection-item">3) Set up partnership initiation deep dive with a visit (or virtual meeting during Covid-19) for 2-5 days. Set up cost $2100.00. Additional cost can vary from $50,000 to $100,000.</li>
      
    </ul>
     <p class="lead text-center mt-5">
    We offer our services only in the four areas
  </p>
  <div class="card mx-auto mt-5" style="width: 25rem;">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="badge bg-primary rounded-pill">1</span>
        Cloud Migration
        </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="badge bg-primary rounded-pill">2</span>
        Management of your cloud workload
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="badge bg-primary rounded-pill">3</span>
        Cost optimization
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="badge bg-primary rounded-pill">4</span>
        Cloud
      </li>
    </ul>
  </div> 
  <p class="lead text-center mt-5">
    Most of our customer engage us at Cloud Migration<u>If your requirements are outside these areas of expertise, we are not the right partner for you.</u>
  </p> 
  
  <div class="container mt-5 mb-5">
    <div class="bg-light p-5 rounded">

      <h1> Partnership Initiation Call</h1>
      
      <p class="lead">
        Please pick 3 dates in three different weeks (one time slot each
        week). We will allocate 2 partners from the team to talk to you for 2
        hours. You can ask any question related to your business. In this
        meeting you will evaluate our company and check if we are the right
        team for you. This call is $2950.00. It’s a NON-refundable cost.
      </p>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
        Partnership initiation call
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Partnership initiation call:</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="post" action="/payment1">
                <div class="mb-3">
                  <label for="nameOfCompany" class="form-label">Name of the company</label>
                  <input type="text" class="form-control" id="nameOfCompany" aria-describedby="emailHelp"
                    name="nameOfCompany" required>
                </div>
                <div class="mb-3">
                  <label for="employeesNumber" class="form-label">Number of employees</label>
                  <input type="number" class="form-control" id="employeesNumber" name="employeesNumber"
                    aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    name="email" required>
                </div>
                <div class="mb-3">
                  <label for="contactNumber" class="form-label">Contact Number</label>
                  <input type="number" class="form-control" id="contactNumber" name="contactNumber"
                    aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                  <label for="date1" class="form-label">Select date 1</label>
                  <input type="date" class="form-control" id="date1" aria-describedby="date1" name="date1" required>
                </div>
                <div class="mb-3">
                  <label for="date2" class="form-label">Select date 2</label>
                  <input type="date" class="form-control" id="date2" aria-describedby="date2" name="date2" required>
                </div>
                <div class="mb-3">
                  <label for="date3" class="form-label">Select date 3</label>
                  <input type="date" class="form-control" id="date3" aria-describedby="date3" name="date3" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5 mb-5">
    <div class="bg-light p-5 rounded">
      <h1> Partnership Deep Dive</h1>
      <p class="lead">Two partners will have 2-5 days visit with your company (or virtual meeting during Covid-19) .
        Within 3 weeks of the meeting, we will provide you a detailed report that
        will contain proposal to solve various problems captured during the meeting.
        A short-term plan with possible options and cost of each option.
        A long-term plan and cost of long-term

        plan.
        Most of the time customers sign a short-term or long-term agreement within 2 months
        of the visit. Each visit can cost $50,000 (2 days) to $100,000 (5 days).
        We will evaluate the company size and answers to our questions and suggest the number of visits.
        This evaluation process cost $2100.0</p>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        Partnership deep drive
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Partnership deep drive:</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="post" action="/payment2">
                <div class="mb-3">
                  <label for="customerInformation" class="form-label">Customer Information</label>
                  <input type="text" class="form-control" id="customerInformation"
                    aria-describedby="customerInformation" name="customerInformation" required>
                </div>
                <div class="mb-3">
                  <label for="nameOfCompany" class="form-label">Name of the company</label>
                  <input type="text" class="form-control" id="nameOfCompany" aria-describedby="emailHelp"
                    name="nameOfCompany">
                </div>
                <div class="mb-3">
                  <label for="employeesNumber" class="form-label">Number of employees</label>
                  <input type="number" class="form-control" id="employeesNumber" name="employeesNumber"
                    aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    name="email">
                </div>
                <div class="mb-3">
                  <label for="contactNumber" class="form-label">Contact Number</label>
                  <input type="number" class="form-control" id="contactNumber" name="contactNumber"
                    aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Do you have any Data migration needs? Please provide
                    details:</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    name="dataMigration"></textarea>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Do you have any compute migration needs? Please provide
                    details:</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    name="computeMigration"></textarea>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Do you have any business application migration needs? Please
                    provide details:</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    name="buisnessApplication"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>