<div class="container">
    <h1 class="text-center mt-5 mb-5">Sorry, this Page is not available</h1>
    <img src="/images/error404.svg" alt="error 404" height="400px" width="400px" class="mt-5 mb-5 img-fluid mx-auto d-block" />
</div>