<main role="main">
 <!-- Section: Slider -->
    <section class="slider">
      <ul class="slides">
        <li>
          <img
            src="https://images.unsplash.com/photo-1484557052118-f32bd25b45b5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
            alt=""
          />
          <div class="caption center-align">
            <h2 class="white-text" style="background-color: black; border-radius:25px">Welcome to the world of cloud consultings Services</h2>
            <!-- <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5> -->
            <!-- <a href="#" class="btn btn-large">Learn More</a> -->
          </div>
        </li>
        <li>
          <img
            src="https://images.unsplash.com/photo-1518770660439-4636190af475?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
            alt=""
          />
          <div class="caption left-align" >
            <h2 class="black-text text-center" style="background-color: white; border-radius:25px">Join the Community of cloud consultings.</h2>
            <!-- <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
              <a href="#" class="btn btn-large">Learn More</a> -->
          </div>
        </li>
        <li>
          <img
            src="https://images.unsplash.com/photo-1487058792275-0ad4aaf24ca7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80"
            alt=""
          />
          <div class="caption right-align">
            <h2 class="white-text text-center" style="background-color: black; border-radius:25px" >Cloud Computing.</h2>
            <!-- <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
              <a href="#" class="btn btn-large">Learn More</a> -->
          </div>
        </li>
      </ul>
    </section>
<style>
        .card-tite{
    color: black;
  }
 
      </style>
      <section
      id="search"
      class="section section-search blue lighten-3 white-text center scrollspy"
    >
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h3 style="font-size: 50px;"></h3>
            <div class="input-field">
             
            </div>
          </div>
        </div>
      </div>
       <div class="row">
           <h4 class="center" style="font-size: 50px;"><span class="black-text">What We </span>do ? </h4> 
          </div>
    </section>

   
        <section class="section section-icons grey lighten-4 center pt-5">
      <div class="container">
        <div class="row">
          <div class="col s12 m4">
            <div class="card-panel" style="height: 95%;">
              <i class="material-icons large blue-text">cloud</i>
              <h4>Migration to Cloud</h4>
              <p> Every organization is planning or considering a migration to the
              cloud. While the benefits of cloud computing encompass improved
              efficiency, flexibility, major cost savings, and access to
              enterprise grade technology, cloud migrations are complicated. There
              is significant evidence that cloud migrations aren't a one-time,
              2-month project, but rather an ongoing process that can last
              multiple years. So where’s the best place to start? You want to
              start with a team of experts, who built it all and onboarded
              millions of customers. We are that team.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel" style="height: 95%;">
              <i class="material-icons large blue-text">store</i>
              <h4>Cost Optimization</h4>
              <p>The best thing that Cloud offers is the Resource optimization. It is
              key to controlling your cloud costs. Due to our inside experience in
              building cloud infrastructure, we are inherently apt to optimize
              your cloud spend. We will not only migrate your data, business
              process, compute and any other application, we will do it at the
              most efficient cost. We cut cost by 20% + for 99 percentile of our
              customers.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel" style="height: 95%;">
              <i class="material-icons large blue-text">https</i>
              <h4>Security & Compliance</h4>
              <p>Our team members were part of AWS identity and access control team
              and Azure security team. Our 24×7 in-house Security Operations
              Center (SOC) provides proactive eyes-on-glass monitoring, while
              leveraging our proprietary cloud management platform to deliver
              automated and continuous security and compliance checks to ensure
              that your AWS instances are protected and compliant at all times.
              There has been NO security violation in cloud for any of our
              customers.Services offered</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
          <div class="col s12 center">
            <a href="/aboutus" class="btn btn-large grey darken-3" style="color: white;">
              <i class="material-icons left">send</i> Explore More 
            </a>
          </div>
        </div>

      <section
      id="search"
      class="section section-search blue lighten-3 white-text center scrollspy"
    >
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h3 style="font-size: 50px;"></h3>
            <div class="input-field">
             
            </div>
          </div>
        </div>
      </div>
       <div class="column">
           <h4 class="center" style="font-size: 50px;"><span class="black-text">Follow </span>21stCloud </h4>
           <p class="black-text">Follow us on social media for special offers</p>
           <a href="#" target="_blank" class="black-text">
              <i class="fab fa-facebook fa-4x"></i>
            </a>
            <a href="#" target="_blank" class="black-text">
              <i class="fab fa-twitter fa-4x"></i>
            </a>
            <a
              href="#"
              target="_blank"
              class="black-text"
            >
              <i class="fab fa-instagram fa-4x"></i>
            </a>

          </div>
    </section>

    
    
        
      </div>
    </section>
    </main>