<main role="main">
<div class="container-fluid mb-5 mt-5">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/images/index1.svg" class="d-block w-100" alt="..." height="440px">
      <div class="carousel-caption d-none d-md-block bg-info bg-gradient">
        <h5> Welcome to cloud consultings Services</h5>
        <p>  We are your cloud company, we migrate, secure, manage and
                operate your cloud workload!</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/images/index2.svg" class="d-block w-100" alt="..." height="440px">
      <div class="carousel-caption d-none d-md-block bg-info bg-gradient">
        <h5>We are 21st cloud</h5>
        <p> We are your cloud company, we migrate, secure, manage and
                operate your cloud workload.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/index3.svg" class="d-block w-100" alt="..." height="440px">
      <div class="carousel-caption d-none d-md-block bg-info bg-gradient">
        <h5>We Are cloud consultings</h5>
        <p> Web Design and Development Agency</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<div class="container">
          <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Migration to Cloud</span></h2>
            <p class="lead">Every organization is planning or considering a migration to the
              cloud. While the benefits of cloud computing encompass improved
              efficiency, flexibility, major cost savings, and access to
              enterprise grade technology, cloud migrations are complicated. There
              is significant evidence that cloud migrations aren't a one-time,
              2-month project, but rather an ongoing process that can last
              multiple years. So where’s the best place to start? You want to
              start with a team of experts, who built it all and onboarded
              millions of customers. We are that team.</p></div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/images/cloudmigration.svg" data-holder-rendered="true">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Cost Optimization</span></h2>
            <p class="lead">The best thing that Cloud offers is the Resource optimization. It is
              key to controlling your cloud costs. Due to our inside experience in
              building cloud infrastructure, we are inherently apt to optimize
              your cloud spend. We will not only migrate your data, business
              process, compute and any other application, we will do it at the
              most efficient cost. We cut cost by 20% + for 99 percentile of our
              customers.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="/images/cost.svg" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Security & Compliance</h2>
            <p class="lead">Our team members were part of AWS identity and access control team
              and Azure security team. Our 24×7 in-house Security Operations
              Center (SOC) provides proactive eyes-on-glass monitoring, while
              leveraging our proprietary cloud management platform to deliver
              automated and continuous security and compliance checks to ensure
              that your AWS instances are protected and compliant at all times.
              There has been NO security violation in cloud for any of our
              customers.Services offered:</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="/images/security.svg" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider">
</div>


      </div>
    </main>