  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
     <div class="feature col  mx-auto">
        <h2>Payment</h2>
        <p>Thank you for Choosing Partnership Deep Drive with 21st Cloud. Complete the payment below for the further process </p>
      <form action="/pay2" method="POST">
<button class="btn btn-primary">Pay Now</button>
</form>
      </div>
    </div>

