<div class="container">
  <div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Our Services</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-3 py-3">
      <div class="col d-flex align-items-start">
        <div class="container">
          <i class="fa fa-cloud" style="font-size:48px; color: blue"></i>
        </div>
        <div>
          <h4 class="fw-bold mb-0">Migration to Cloud</h4>
          <p>You want to start with a team of experts, who built it all and onboarded millions of customers. We are that
            team.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="container">
          <i class="fas fa-dollar-sign" style="font-size:48px; color: blue"></i>
        </div>
        <div>
          <h4 class="fw-bold mb-0">Cost Optimization</h4>
          <p>The best thing that Cloud offers is the Resource optimization. It is key to controlling your cloud costs.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="container">
          <i class="fas fa-lock" style="font-size:48px; color: blue"></i>
        </div>
        <div>
          <h4 class="fw-bold mb-0">Security And Compiliance</h4>
          <p>Our team members were part of AWS identity and access control team and Azure security team. </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="container">
          <i class="fa fa-cloud" style="font-size:48px; color: blue"></i>
        </div>
        <div>
          <h4 class="fw-bold mb-0">Cloud</h4>
          <p>Catch up the cloud-first trend and enjoy the advantage of on-demand services for increased business
            productivity.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="container">
          <i class="fas fa-user-cog" style="font-size:48px; color: blue"></i>
        </div>
        <div>
          <h4 class="fw-bold mb-0">DevOps</h4>
          <p>Meet the culture-driven IT approach with enhanced team collaboration for faster product delivery cycles</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="container">
          <i class="fas fa-wifi" style="font-size:48px; color: blue"></i>
        </div>
        <div>
          <h4 class="fw-bold mb-0">Digital transformation</h4>
          <p> Bring an all-new business transformation with digital capabilities driven by a perfect digital
            transformation strategy.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="container">
          <i class="fas fa-address-book" style="font-size:48px; color: blue"></i>
        </div>
        <div>
          <h4 class="fw-bold mb-0">Identity and Access management</h4>
          <p>In the fast-emerging cyberspace, IT security continues to be the top challenge for organizations globally.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="container">
          <i class="fa fa-signal"" style="font-size:48px; color: blue"></i>
        </div>
        <div>
          <h4 class="fw-bold mb-0">Manageged services</h4>
          <p>Gear up to modernize your IT infrastructure with market’s leading options and enhance operational
            efficiencies.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="container">
          <i class="fa fa-user" style="font-size:48px; color: blue"></i>
        </div>
        <div>
          <h4 class="fw-bold mb-0">Technology Advisor</h4>
          <p> Gain the competitive edge through effective IT corporate strategy driven by a right technology
            decision-making.</p>
        </div>
      </div>
    </div>
  </div>
</div>