<div class="container mt-5">
    <div class="bg-light p-5 rounded">
    <h1>Payment Info</h1>
    <p class="lead">Congratulations! Your Payment has been completed successfully!</u></p>
    <a href="/"><button class="btn btn-primary">Home</button></a>
    </div>
</div>